.container{
  height: 700px;
  width: 1550px;
  color:#4cd137;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 40px;
  border-radius: 15px;
  background-color: #2f3640;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input{
  width: 100px;
  height: 100px;
  margin: 8px 3px;
  font-size: 18px;
  outline: none;
  border: 1px solid #ecf0f1;
  border-radius: 5px;
  text-align: center;
  color: #4cd137;
  background: transparent;
}
h3{
  font-size: 50px;
}
p,a{
  color:#ecf0f1 ;
  font-size: 20px;
}
button{
  width: 150px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 20px;
  border: 2px solid #4cd137;
  color: #4cd137;
  padding: 5px;
  cursor: pointer;
  background: transparent;
  transition: 0.4s ease-in;
  margin-top: 10px;
  &:hover{
    background-color: #4cd137;
    color: #2f3640;
  }
}